:root {
  --main-text: "Oswald", sans-serif;
  --title-text: "Poppins", sans-serif;
}
body {
  background-color: #fdf3e7;
  font-size: 16px;
}
h1 {
  font-family: var(--main-text);
  font-size: 38px;
  text-transform: uppercase;
  font-weight: bold;
}
p,
ul {
  font-family: var(--title-text);
  font-size: 14px;
  color: 0;
}
a {
  font-family: var(--main-text);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
}
a {
  color: #000000;
  font-size: 20px;
}
a:hover {
  color: #539fb0;
}
.active {
  color: #fffffe;
}
.activity-imgs {
  width: 175px;
  height: 130px;
  float: left;
  margin-right: 15px;
}
.activity-title {
  font-size: 20px;
}
.side-img {
  object-fit: cover;
  border-top-left-radius: 10px;
}
.card-main,
.card-activities,
.card-history,
.card-travel {
  background-color: rgb(255, 252, 242);
}
.card-main {
  border-radius: 10px;
  border-bottom: 25px solid #539fb0;
  box-shadow: 0px 3px 34px 12px rgba(0, 0, 0, 0.3);
}
.card-history {
  border-radius: 10px;
  border-bottom: 25px solid #539fb0;
  box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.7);
}
.card-activities {
  border-radius: 10px;
  border-bottom: 25px solid #539fb0;
  box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.7);
}
.card-travel {
  border-radius: 10px;
  border-bottom: 25px solid #539fb0;
  box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.7);
}
.container {
  margin-top: 50px;
  max-width: 1000px;
}
.navbar {
  background-color: #539fb0;
  border-top-right-radius: 10px;
}
.project-description {
  padding: 0px 5px;
}
.thumbnail-imgs {
  width: 225px;
  height: 155px;
}
.website-links {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  color: #8a2140;
}
